body{
    background: url(../images/darthvader3.jpg);
    
    font-family: 'Exo 2', sans-serif; 
}

#header,#headerTwo{

    color: rgb(238, 12, 12);
    margin-top: 20px; 
    align-content: center;
}

#question-one,#question-two,#question-three,#question-four,#question-five {
margin-top: 10px;
color: antiquewhite;
font-family: 'Fira Sans', sans-serif;  
}

#submit{
    margin-top: 20px;
}
    